
<% if params[:tag_name] %>
  <% i = "#{params[:tag_name]}  | ユーザー一覧" %>
<% else %>
  <% i = 'ユーザー一覧' %>
<% end %>
<% provide(:title, "#{i}") %>
  
<section>
  <div class='grid itmes-cneter mt-2'>
    <%= search_form_for(
      @search,
        html: { 
          data: {
        controller: 'search-form',
        search_form_target: 'form',
        turbo_frame: 'users-list'
          }
        }) do |f| %>
      <div class='mx-8 mb-12'>
        <div class='relative w-full' data-action='input->search-form#search'>
          <%= f.label :name_cont_all, 'ユーザー検索' , class: 'text-sm text-slate-500 font-medium mt-2' %>
          <%= f.search_field :name_cont_all,
            autocomplete: 'off',
            placeholder: 'ユーザー名を入力してください。',
            class: 'relative block p-2 mb-1 w-full z-20 text-base text-slate-600 bg-gray-50 appearance-none rounded-lg border border-slate-300 focus:ring dark:bg-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500' %>
          <%= link_to 'クリア', posts_path, class:'absolute right-1 top-20 px-2 py-1 inline-flex items-center justify-center rounded-md bg-white border border-gray-400 no-tap-highlighting' %>
          <%= link_to '肩書き一覧', positions_path, class:'absolute right-22 top-20 inline-flex items-center justify-center rounded-md tracking-wider px-2 py-1 bg-green-100 text-green-800 font-medium border border-green-400 rounded dark:bg-green-200 dark:text-green-900 hover:bg-green-300 no-tap-highlighting' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
<section class='animate-fade-in'>
  <%= turbo_frame_tag 'users-list', target: '_top' do %>
    <%= render 'shared/users', users: @users %>
  <% end %>
</section>

