<h1>ユーザーページ</h1>

<%if @user.avatar.attached? %>
  <%= image_tag @user, size: "200×200", class: "avatar" %>
<% else %>
  <%= image_tag "no_avatar.png", size: "200×200", class: "avatar" %>
<% end %>

<h3>名前</h3>
<%= @user.name %>
<h3>メールアドレス</h3>
<%= @user.email %>
<h3>プロフィール</h3>
<%= @user.profile%>
<%= link_to "投稿する", new_post_path %>
<br>
<%= link_to 'プロフィール確認', edit_user_registration_path, class: "block" %> 
<br>



<p>実装予定</p>
<div class="user__icon">
  <ul>
    <li>"丸い枠のアイコン画像"</li>
    <li>"ユーザー名"</li>
    <li>"svg+都道府県"</li>
    <li>"プロフィール文字数 ..."</li>
  </ul>
</div>
<div class="user__follewed__number">
  <p>フォロー</p>
  <p>フォロー数を表示</p>
</div>
<div class="user__follewer__number">
  <p>フォロワー</p>
  <p>フォロワー数を表示</p>
</div>

<div class="tabs">
  <div class="tab1">"日誌"</div>
  <div class="tab2">"Q&A"</div>
  <div class="tab3">"いいねした日誌"</div>
  <div class="tab4">"いいねした質問"</div>
</div>
<div class="tab__contents">
 <p> ユーザーに紐づくそれぞれのタブの一覧を表示</p>
</div>
<%= link_to "戻る", :back, class:"no-tap-highlighting" %>