<h1>ユーザーページ</h1>

<% if @user.avatar.present? %>
  <%= image_tag @user.avatar,  size: "200×200", class: "avatar" %>

<% else %>
  <%= image_tag "noavatar.png", size: "200×200" %>
<% end %>

<h3>ユーザー名</h3>
<%= @user.name %>
<h3>メールアドレス</h3>
<%= @user.email %>
<h3>プロフィール</h3>
<%= @user.profile%>
<%= link_to "投稿する", new_post_path %>
<br>
<br>


<p>実装予定</p>
<ul>
  <li>画像投稿機能</li>
  <li>プロフィール画像設定機能</li>
  <li>マイページををログイン不要のユーザに表示</li>
  <li>フィード</li>
</ul>
