

<section>
  <div class="grid grid-cols-1 gap-x-4">
    <% if @user.avatar.attached? %>
      <% if @user == current_user %>
        <%= image_tag @user.resized_avatar, class: "w-28 h-28 rounded-full border-2 border-emerald-500" %>
      <% else %>
        <%= image_tag @user.resized_avatar, class: "w-28 h-28 rounded-full border-2 border-indigo-500" %>
      <% end %>
    <% else %>
      <%= image_tag "no_avatar.png", class: "w-28 h-28 rounded-full border-2 border-yellow-300" %>
    <% end %>

    <h3>名前</h3>
    <%= @user.name %>
    <h3>メールアドレス</h3>
    <%= @user.email %>
    <h3>プロフィール</h3>
    <%= @user.profile %>
    <br>
    <%= link_to 'プロフィール確認', edit_user_registration_path, class: "block" %> 
    <br>

    <h3>いいねしている投稿</h3>
    <% @user.liked_posts.each do |post| %>
      <%= post.user.name %>
      <%= post.title %>
    <% end %>


    <p>フォロー:<%= @user.following.count %></p>
    <p>フォロワー:<%= @user.followers.count %></p>

    <% if current_user != @user %>
      <% if current_user.following?(@user) %>
        <%= form_with(model: current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }) do |f| %>
          <%= f.submit "Unfollow" %>
        <% end %>
      <% else %>
        <%= form_with(model: current_user.active_relationships.build) do |f| %>
          <div><%= hidden_field_tag :followed_id, @user.id %></div>
          <%= f.submit "Follow" %>
        <% end %>
      <% end %>
    <% end %>

    <p>実装予定</p>
    <div class="tabs">
      <div class="tab1">"日誌"</div>
      <div class="tab2">"Q&A"</div>
      <div class="tab3">"いいねした日誌"</div>
      <div class="tab4">"いいねした質問"</div>
    </div>
    <div class="tab__contents">
    <p> ユーザーに紐づくそれぞれのタブの一覧を表示</p>
    </div>
    <%= link_to "戻る", :back, class:"no-tap-highlighting" %>
    </div>
  </div>
</section>