<% case @user %>
<% when current_user %>
  <% i = 'マイページ' %>
<% else %>
  <% i = "#{@user.name}さんのページ"%>
<% end %>
<% provide(:title, "#{i}") %>
<div class="-mt-12 bg-white">
  <section>
    <div class="profile__icon">
    <%# 背景画像をavatarと同様に設定できるようにする %>
      <%= image_tag'800x600_dummy.jpg', alt: "ダミー画像", class: "w-full h-64 md:h-96 object-center object-cover" %>
      <div class="flex w-full flex-col justify-center items-center">
        <span class ="relative -mt-10 md:-mt-16">
          <%if  @user.avatar.attached? %>
            <% if @user == current_user %>
              <%= image_tag(current_user.avatar, class: "w-20 h-20 md:w-32 md:h-32 rounded-full border-2 border-emerald-500") %>
            <% else %>
              <%= image_tag(@user.avatar, class: "w-20 h-20 md:w-32 md:h-32 rounded-full border-2 border-indigo-500") %>
            <% end %>
          <% else %>
            <%= image_tag "no_avatar.png", class: "w-20 h-20 md:w-32 md:h-32 rounded-full border-2 border-yellow-300" %>
          <% end %>
        </span>
        <p class="my-2 font-semibold"><%= @user.name %></p>
      </div>
    </div>
    <div class="profile__details">
      <div class="grid mx-3 md:mx-12 my-4">
        <div class="mx-4">
          <div class="border-y leading-loose font-light text-sm pb-6 ml-2 my-2">
            <% if @user.profile.present? %>
                <p class="whitespace-pre-wrap my-2"><%= @user.profile %></p>
              <% else %>
                <p class="whitespace-pre-wrap my-2">プロフィールが未入力です。</p>
            <% end %>
          </div>
        </div>
        <div class="grid grid-cols-11 py-2 mb-2 mr-1">
          <div class="grid col-start-1 col-span-2 justify-items-center -mr-16">
            <p class="text-xs font-black mb-2 ">日記</p>
            <p class="text-md font-black underline underline-offset-4"><%= @user.posts.count %></p>
          </div>
          <div class="grid col-start-4 col-span-2 justify-items-center -mr-6">
            <p class="text-xs font-black mb-2">掲示板</p>
            <p class="text-md font-black underline underline-offset-4">0</p>
          </div>
          <div class="grid col-start-7 col-span-2 justify-items-center -ml-6">
            <p class="text-xs font-black mb-2">フォロー</p>
            <p class="text-md font-black underline underline-offset-4"><%= @user.following.count %></p>
          </div>
          <div class="grid col-start-10 col-span-2 justify-items-center -ml-16">
              <p class="text-xs font-black mb-2">フォロワー</p>
              <p class="text-md font-black underline underline-offset-4"><%= @user.followers.count %></p>
          </div>
        </div>
        <div class="grid justify-center">
          <div class="my-8">
            <% if current_user != @user %>
              <% if current_user.following?(@user) %>
                <%= form_with(model: current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }) do |f| %>
                  <p class="text-slate-600 bg-white border border-yellow-400 font-extrabold rounded-3xl px-6 py-2 mr-2 mb-2 focus:outline-none dark:focus:ring-yellow-900"><%= f.submit "フォロー中" %></p>
                <% end %>
              <% else %>
                <%= form_with(model: current_user.active_relationships.build) do |f| %>
                  <div><%= hidden_field_tag :followed_id, @user.id %></div>
                  <p class="text-slate-600 bg-yellow-200 font-extrabold rounded-3xl px-6 py-2 mr-2 mb-2 focus:outline-none dark:focus:ring-yellow-900"><%= f.submit "フォローする" %></p>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
