<% case @user %>
<% when current_user %>
  <% i = 'マイページ' %>
<% else %>
  <% i = "#{@user.name}さんのページ"%>
<% end %>
<% provide(:title, "#{i}") %>
<div class="-mt-12">
  <section>
    <div class="profile__icon">
    <%# 背景画像をupdateで設定できるようにする %>
      <%= image_tag'800x600_dummy.jpg', alt: "ダミー画像", class: "w-full h-64 md:h-96 object-center object-cover" %>
      <div class="flex w-full flex-col justify-center items-center">
        <span class ="relative -mt-10 md:-mt-16">
          <%if  @user.avatar.attached? %>
            <% if @user == current_user %>
              <%= image_tag(current_user.avatar, class: "w-20 h-20 md:w-32 md:h-32 rounded-full border-2 border-emerald-500") %>
            <% else %>
              <%= image_tag(@user.avatar, class: "w-20 h-20 md:w-32 md:h-32 rounded-full border-2 border-indigo-500") %>
            <% end %>
          <% else %>
            <%= image_tag "no_avatar.png", class: "w-20 h-20 md:w-32 md:h-32 rounded-full border-2 border-pink-500" %>
          <% end %>
        </span>
        <p class="mt-2 font-semibold"><%= @user.name %></p>
      </div>
    </div>
    <div class="profile__details">
      <div class="flex w-full flex-col justify-center items-center bg-yellow-100">
        <div class="text-md font-medium bg-yellow-200">
          <%= @user.profile %>
        </div>
        
        <p>日記一覧</p>
        <p>掲示板投稿一覧</p>
        <p>フォロー一覧</p>
        <p>フォロワー一覧</p>

        <p>フォロー:<%= @user.following.count %></p>
        <p>フォロワー:<%= @user.followers.count %></p>
      </div>
  </section>




  
  <section>
    <div class="grid justify-center h-64 overflow-hidden bg-red-100 mt-8">
      <div class="grid justify-center items-center">
        <%if  @user.avatar.attached? %>
          <% if @user == current_user %>
            <%= image_tag(current_user.avatar, class: "w-20 h-20 rounded-full border-2 border-emerald-500") %>
          <% else %>
            <%= image_tag(@user.avatar, class: "w-20 h-20 rounded-full border-2 border-indigo-500") %>
          <% end %>
        <% else %>
          <%= image_tag "no_avatar.png", class: "w-20 h-20 rounded-full border-2 border-pink-500" %>
        <% end %>
      </div>
      <div class=" bg-red-300">
        <p class=" bg-red-400">111111111111111111111111111111111111</p>
        <p class="">sss</p>
        <div class=" bg-red-500">
          <span class=" bg-red-600">
              <%= image_tag "no_avatar.png", class: "w-8 h-8 md:w-12 md:h-12 rounded-full border-2 border-pink-500 " %>
          </span>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h3>コメント一覧</h3>
  </section>
  <%= link_to '一覧に戻る', posts_path, class:"no-tap-highlighting" %>
</div>
