<% visitor = notification.visitor %>
<% post = notification.post %>

<div class="user-view clearfix ">
  <%= link_to profile_path(notification.visitor) do %>
    <%= image_tag "no_avatar.png" %>
  <% end %>
  <%= notification_form(notification) %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} å‰)" %></span>
  <br>
  <% if !@comment.nil? %>
    <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @comment %></p>
  <% end %>
</div>