<div class="w-full flex flex-wrap items-center  justify-between bg-white top-0 fixed h-14 z-50">
        <%= link_to "Karibito", root_path, class:"text-xl md:text-2xl block absolute top-3 left-14 md:left-16 font-semibold no-tap-highlighting" %>
        <%= link_to image_tag('Karibito_logo.png', class:'w-10 md:w-12 absolute top-1 left-3 no-tap-highlighting'), root_path %>
        <div data-sidebar-target="hamburger" data-action="click->sidebar#sidebarToggle" data-expanded="0" class="lg:hidden">
            <nav class="hamburger fixed z-50">
                <span data-sidebar-target="line1" class="inner_line top-0"></span>
                <span data-sidebar-target="line2"  class="inner_line top-2.5"></span>
                <span data-sidebar-target="line3"  class="inner_line bottom-0"></span>
            </nav>
        </div>
        <div class="relative -top-9 -right-32">
          <button
            class="p-2 text-gray-600 transition -translate-y-1/2 rounded-full hover:text-gray-700 bg-gray-50"
            type="button"
            aria-label="Submit Search"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </button>
        </div>
    <div class="flex justify-between invisible lg:visible">
        <% if user_signed_in? %>
        <span class="block px-4 py-2 rounded hover:bg-pink-100 dark:hover:bg-gray-700 no-tap-highlighting"><%= button_to "ログアウト", destroy_user_session_path, { method: :delete, form: { data: { turbo_confirm: "ログアウトしますか？" } } } %> 
        <% else %> 
        <span class="block px-4 py-2 rounded hover:bg-gray-100 dark:hover:bg-gray-700 no-tap-highlighting"><%= link_to '会員登録', new_user_registration_path, class: "block" %> 
        <span class="block px-4 py-2 rounded hover:bg-gray-100 dark:hover:bg-gray-700 no-tap-highlighting"><%= link_to 'ログイン', new_user_session_path, class: "block" %> 
        <% end %>
        <a
          href=""
          class="block text-gray-600 bg-white rounded-full hover:text-gray-700 shrink-0 shadow-sm"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
            />
          </svg>
        </a>

      <span
        aria-hidden="true"
        class="block w-px h-6 bg-gray-200 rounded-full "
      ></span>

      <a href="" class="block shrink-0 top-3 right-6">
        <img
          class="object-cover w-10 h-10 rounded-full"
          src="https://www.hyperui.dev/photos/man-4.jpeg"
          alt="Simon Lewis"
        />
      </a>
    </div>
</div>