<div class="grid grid-cols-1">
  <div class="flex pt-1 border-b">
    <div class="flex justify-center w-12 h-12 mb-4">
    <% if c.user.present? && !c.anonymous_flag %>
      <%if c.user.avatar.attached? %>
        <% if c.user == current_user %>
          <%= link_to image_tag(current_user.avatar, class: "w-8 h-8 rounded-full border-2 border-emerald-500"), profile_path(current_user) %>
        <% else %>
          <%= link_to image_tag(c.avatar, class: "w-8 h-8 rounded-full border-2 border-indigo-500"), profile_path(current_user) %>
        <% end %>
      <% else %>
        <%= link_to image_tag("no_avatar.png", class: "w-8 h-8 object-cover rounded-full border border-yellow-300"), profile_path(current_user) %>
      <% end %>
    <% else %>
        <%= image_tag "no_avatar.png", class: "w-8 h-8 object-cover rounded-full border border-yellow-300" %>
    <% end %>
    </div>
    <div class="flex flex-col w-full">
      <div class="flex">
        <% if c.user.present? && !c.anonymous_flag %>
          <strong><%= link_to truncate(c.user.name, length:17), profile_path(c.user), class:"hover:underline" %></strong>
        <% else %>
        <strong>名無しさん</strong>
        <% end %>
        <p class="ml-3 text-slate-400"><%= how_long_ago(c) %></p>
      </div>
      <p class="tracking-wide whitespace-pre-wrap pt-1 pb-4 ml-1"><%= c.description %></p>
      <% if user_signed_in? && current_user == c.user %>
        <div class="flex justify-end h-7 w-5/6  pt-0.5">
          <%= button_to "編集", edit_board_board_comment_path(@board, c), method: :get, class: "inline-block px-2 py-1 ml-1 border border-blue-400 text-blue-400 font-bold text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out no-tap-highlighting" %>
          <span class="inline-block px-2 h-6 py-1 ml-1 border border-red-400 text-red-400 font-bold text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out no-tap-highlighting">
            <%= button_to "削除", board_board_comment_path(@board, c), { method: :delete, form: { data: { turbo_confirm: "コメントを削除しますか？" } } } %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>