<%= form_with(model: board) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="grid grid-cols-1 mx-auto max-w-screen-lg bg-white">
    <div class="grid grid-cols-1">
      <article>
        <div 
        data-controller="character-counter" 
        data-character-counter-countdown-value="true" 
        class="py-2 border-b-2 px-2">
          <%= f.text_field :title, placeholder: "タイトル(必須)", data: {character_counter_target: "input"}, maxlength: 100, class: "w-full bg-amber-100 text-xl font-bold text-black rounded-md pl-2 py-1 mb-1" %>
           <p class="flex justify-end items-center text-xs md:text-base font-semibold mr-2">
            <strong data-character-counter-target="counter" class="font-bold text-sm md:text-lg px-0.5"></strong>文字
          </p>
        </div>
        <div class="grid grid-cols-1 relative border-t-2">
          <span class="flex justify-start items-center ml-3 py-1 bg-white border-t">
            <%= image_tag "no_avatar.png", class: "w-8 h-8 object-cover rounded-full border border-yellow-300" %>
            <p class="text-sm font-bold text-stone-500 mr-2 ml-2 hover:underline hover:underline-offset-2">ユーザー名</p>
          </span>
        </div>

      </article>
      <section>
        <div 
        data-controller="character-counter" 
        data-character-counter-countdown-value="true" 
        class="mx-2 mt-6 mb-2">
          <span class="flex mb-1 tracking-wide  whitespace-pre-wrap font-medium text-base">
            <%= f.text_area :description, data: {controller: "autogrow", character_counter_target: "input"}, maxlength: 400, placeholder: "本文を入力", class: "text-black w-full pt-3 pl-1 pb-5 rounded-md bg-amber-100" %>
          </span>
           <p class="flex justify-end items-center text-xs md:text-base font-semibold mr-2">
            <strong data-character-counter-target="counter" class="font-bold text-sm md:text-lg px-0.5"></strong>文字
          </p>
        </div>
      </section>
      <% if current_user %>
        <%= f.check_box(:anonymous_flag,{:checked=>true},"1","0") %>
      <% else %>
        <span class='invisible'>
          <%= f.check_box(:anonymous_flag,{:checked=>true},"1","0") %>
        </span>
      <% end %>
    </div>
    <div class="flex justify-center bg-white">
      <%= f.submit "投稿", class:"px-5 py-1 my-2 rounded-2xl tracking-widest font-semibold bg-white border-2 text-stone-600 hover:text-black border-cyan-400 hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out no-tap-highlighting" %>
    </div>
<% end %>
