<% provide(:title, "#掲示板一覧") %>
<section>

    <div class="fixed bottom-3 right-6 z-30 lg:right-16 xl:right-24">
      <%= button_to new_board_path, method: :get, class: "overflow-hidden h-10 w-28 text-xs font-semibold text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800" do %>
        <span class="relative inline-flex items-center px-1 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-lg group-hover:bg-opacity-0">
          <span class="font-semibold">スレを立てる</span>
          <%= image_tag("lead-pencil.png", size:"25x25", class: "ml-1") %>
        </span>
      <% end %>
    </div>

</section>

<section>
  <%= turbo_frame_tag "boards-list", target: "_top" do %>
    <% if @boards.present? %>
      <div class="grid md:grid-cols-2 gap-x-2 gap-y-2 mx-4 my-2">
        <% @boards.each do |board| %>
          <div class="flex flex-row border border-gray-200 border-opacity-60 overflow-hidden no-tap-highlighting bg-lime-100">
            <% if board.illustration.attached? %>
              <%= image_tag board.thumbnail, class: "w-32 h-32 object-center object-cover"%>
            <% else %>
              <%= image_tag'800x600_dummy.jpg', alt: "ダミー画像", class: "w-32 h-32 object-center object-cover" %>
            <% end %>
            <div class="flex flex-col w-full ml-1 max-h-32 bg-red-200">
              <p class="leading-tight text-base font-bold text-black bg-lime-300 pl-0.5 pt-0.5"><%= link_to truncate(board.title, length:26), board_path(board) %></p>
              <% if board.description %>
                <p class="tracking-wider leading-snug text-slate-600 text-xs pl-0.5 pt-0.5 ml-0.5 h-18"><%= truncate(board.description, length:49) %></p>
              <% else %>
                <p class="tracking-wider leading-snug text-slate-600 text-xs pl-0.5 pt-0.5 ml-0.5 h-18">説明がありません</p>
              <% end %>
              <div class="flex w-full flex-row justify-start relative bg-red-400 leading-">
                <span class="flex flex-row items-center">
                  <% if board.anonymous_flag? %>
                    <%= image_tag "no_avatar.png", class: "w-6 h-6 rounded-full border border-yellow-300" %>
                    <p class="text-xs font-medium mr-2 ml-2">名無しさん</p>
                  <% else %>
                    <% if board.user.present? %>
                      <%if board.user.avatar.attached? %>
                        <% if board.user == current_user %>
                          <%= link_to image_tag(current_user.avatar, class: "w-6 h-6 rounded-full border border-emerald-500"), profile_path(current_user) %>
                        <% else %>
                          <%= link_to image_tag(board.user.avatar, class: "w-6 h-6 rounded-full border border-indigo-500"), user_page_path(board.user) %>
                        <% end %>
                      <% else %>
                        <%= image_tag "no_avatar.png", class: "w-6 h-6 object-cover rounded-full border border-yellow-300" %>
                      <% end %>
                      <p class="text-xs font-medium ml-1 hover:underline hover:underline-offset-2 bg-lime-500"><%= link_to truncate(board.user.name, length:17), profile_path(board.user) %></p>
                    <% end %>
                  <% end %>
                </span>
              </div>
              <p class="text-xs text-slate-500 ml-5 -mt-0.5"><%= how_long_ago(board) %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="flex w-full flex-col justify-center items-center mb-48">
        <span class ="relative">
          <div class="h-36 w-36 bg-white rounded-full -ml-1.5 "></div>
          <%= image_tag 'ojigi_animal_kuma.png', class:' absolute top-6 left-4 z-10 w-24 h-28 p-4' %>
        </span>
        <p class="font-medium py-2">検索結果が見つかりませんでした。</p>
      </div>
    <% end %>
  <% end %>
</section>

