<% provide(:title, "パスワード再設定") %>
<h1 class="font-bold text-center">パスワードの再設定</h1>
<div class="flex w-full items-center space-y-8">
    <div class="flex-1 px-8 md:px-32 lg:px-24">
        <div class="mt-8 bg-white rounded-md shadow-md p-5">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>
                <div class="field mb-12">
                  <%= f.label :email, "メールアドレス", class: " block text-lg font-bold text-gray-600 dark:text-gray-200" %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "example@gmail.com", class: "block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md  focus:border-blue-400  focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40 dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 dark:focus:border-blue-400" %>
                </div>

                <%= f.submit "再設定用メールを送信" ,class: "w-full px-4 py-2 tracking-wide transition-colors duration-200 transform bg-green-200 rounded-md hover:bg-green-100 focus:outline-none focus:bg-green-100 focus:ring focus:ring-green-100 focus:ring-opacity-50 mb-4" %>
            <% end %>
        </div>
    </div>
</div>
    <%= link_to :back, class: "inline-flex items-center h-6 w-14 px-1 py-4 ml-8 my-2 rounded-lg dark:text-white dark:bg-gray-600 border dark:hover:text-gray-900 focus:outline-none no-tap-highlighting" do %>
      <p class="text-xs font-semibold">戻る</p>
      <%= image_tag("Uターン矢印 1.png", class: "w-4 h-4 ml-0.5 -mt-0.5") %>
    <% end %>