<%= form_with(model: post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content, "本文" %><br>
    <%= f.text_area :content, data: {controller: "autogrow" } %>
  </div>

  <div class="field">
    <%= f.label :images, "画像を追加する" %><br>
    <%= f.file_field :images, multiple: true %><br>
  </div>

  <h3>画像</h3>
  

  <% if post.images.attached? %>
    <p>選択済みの画像（削除する画像にチェックをつけてください）</p>
    <div style="display: flex; flex-wrap: wrap; width: 750px;">
      <% @post.images.each do |image| %>
        <div style="display: flex; margin:5px 5px 5px 0;">
        <%= f.check_box :image_ids, {multiple: true }, image.id, false %>
          <label for="post_image_ids_<%= image.id %>" >
            <%= image_tag image, width: 300, height: 200 %>
          </label>
        </div>
      <% end %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<div class="grid grid-cols-1 mx-auto max-w-screen-lg bg-lime-100">
  <div class="grid grid-cols-1 bg-lime-200">
    <article>
      <div class="py-2 ml-1 bg-lime-300">
        <p class="text-xl font-bold text-black mx-2">タイトル</p>
        <p class="text-xs text-slate-600 mx-2 -mb-2"> 2022/2/2 </p>
      </div>
      <div class="grid grid-cols-1 relative">
        <span class="flex justify-start items-center ml-3 py-1 bg-white border-t">
          <%= image_tag "no_avatar.png", class: "w-8 h-8 object-cover rounded-full border border-yellow-300" %>
          <p class="text-sm font-bold mr-2 ml-2 hover:underline hover:underline-offset-2">ユーザ名</p>
        </span>
      </div>
      <div class="h-full overflow-hidden">
          <%= image_tag'800x600_dummy.jpg', alt: "ダミー画像", class: "w-full object-center" %>
      </div>
    </article>
  </div>
</div>