<div class="pt-4 mb-2 mx-2">
  <p class="tracking-widest text-sm font-medium text-gray-400 mb-1"><%= link_to post.user.name, mypage_path(post.user) %></p>
  <p class="title-font text-lg font-medium text-gray-900 mb-2"><%= link_to post.title, post_path(post) %></p>
  <p class="leading-relaxed mb-1"><%= post.content %></p>
  <p class="text-sm"><%= how_long_ago(post) %></p>
  <div class="flex w-full flex-wrap items-center justify-end mr-2">
    <div class="relative left-4">
    <span><p class="text-sm">いいねしたユーザー</p>
      <% post.liked_users.each do |user| %>
        <li class="text-sm"><%= user.name %></li>
      <% end %>
      <span>
    </div>
      <span class="text-gray-400 inline-flex leading-none text-sm mr-3">
        <%= inline_svg_tag 'cards-heart-outline.svg', class: "text-pink-500 w-4 h-4 -mt-0.5" %>
        <%= post.liked_users.count %>
      </span>
    <span class="text-gray-400 inline-flex leading-none text-sm mr-2">
      <svg class="w-4 h-4 -mt-0.5" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
        <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
      </svg><%= post.comments.count %>
    </span>
  </div>
</div>