<% if @tags.present? %>
  <span class='flex flex-wrap ml-5 mt-2'>
    <% @tags.each do |tag| %>
      <%= link_to tag, posts_path(tag_name: tag.name), class:'bg-green-100 text-green-800 text-xs font-semibold px-2 py-1 mb-1 mr-1.5 rounded dark:bg-green-200 dark:text-green-900 hover:bg-green-300 no-tap-highlighting' %>
    <% end %>
  </span>
<% end %>
<div class="py-2 border-b-2 px-2 break-all">
  <h3 class="font-bold text-black py-0.5 ml-3"><%= post.title %></h3>
  <p class="text-xs text-slate-600 mx-2 ml-3"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
</div>
<div class="grid grid-cols-1 relative border-t-2">
  <span class="flex justify-start items-center ml-3 py-2 bg-white">
    <%= avatar_link(post) %>
    <p class="text-sm font-bold mr-2 ml-2 hover:underline hover:underline-offset-2 no-tap-highlighting"><%= link_to post.user.name, profile_path(post.user) %></p>
  </span>
</div>
<div class="h-full overflow-hidden">
  <% if post.images.present?  %>
    <%= image_tag post.thumbnail, class: "w-full object-center" %>
  <% else %>
    <%= image_tag'800x600_dummy.jpg', alt: "ダミー画像", class: "w-full object-center" %>
  <% end %>
  <div class="flex justify-end bg-white py-0.5 border-b-2">
    <div class="mr-4">
      <span class="text-gray-400 inline-flex h-6 items-center leading-none text-sm pr-3">
        <svg class="w-4 h-4 mr-1"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  
          <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z" />
        </svg>
        <%= post.liked_users.count %>
      </span>
      <span class="text-gray-400 inline-flex items-center leading-none text-sm ml-1">
        <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
          <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
        </svg>
        <%= post.comments.count %>
      </span>
    </div>
  </div>
</div>
<section>
  <div class="flex justify-between items-center px-6 py-1 border-b-2">
    <div class="flex items-center">
      <% if signed_in? %>
        <% if current_user.already_liked?(@post) %>
          <%= button_to post_like_path(@post), method: :delete, class: "flex justify-center items-center bg-white text-pink-600 ring-1 ring-gray-300 h-8 w-8 px-2 py-2 ml-1 mr-2 text-center rounded-full cursor-pointer no-tap-highlighting bg-red-200" do %>
            <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          <% end %>
        <% else %>
          <div class="flex justify-start items-center h-8">
            <%= button_to post_likes_path(post_id:@post.id), class: "flex justify-center items-center text-stone-300 bg-white ring-1 ring-gray-300 h-8 w-8 px-2 py-2 ml-1 mr-2 text-center rounded-full cursor-pointer no-tap-highlighting" do %>
              <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
              </svg>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <%= button_to new_user_session_path, method: :get, class: "flex justify-center items-center transition-colors ease-in-out duration-200 text-stone-300 bg-white hover:bg-white hover:text-pink-600 ring-1 ring-gray-300 h-8 w-8 px-2 py-2 ml-1 mr-1 text-center rounded-full cursor-pointer no-tap-highlighting" do %>
          <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
          </svg>
        <% end %>
      <% end %>
      <% if @post.liked_users.present? %>
        <%= button_to liked_post_path(@post), method: :get, class: "overflow-hidden h-10 w-24 focus:outline-none" do %>
          <div class="flex -space-x-4 itmes-center mx-2">
            <% if @liked_users.first.avatar.present? %>
              <%= image_tag(@liked_users.first.avatar, class: "w-8 h-8 rounded-full border-2 border-white dark:border-gray-800") %>
            <% else %>
              <%= image_tag "no_avatar.png", class: "w-8 h-8 rounded-full border-2 border-white dark:border-gray-800" %>
            <% end %>
            <% if @liked_users.second.present? %>
              <% if @liked_users.second.avatar.present? %>
                <%= image_tag(@liked_users.second.avatar, class: "w-8 h-8 rounded-full border-2 border-white dark:border-gray-800") %>
              <% else %>
                <%= image_tag "no_avatar.png", class: "w-8 h-8 rounded-full border-2 border-white dark:border-gray-800" %>
              <% end %>
            <% end %>
            <% if @liked_users.third.present? %>
              <% if @liked_users.third.avatar.present? %>
                <%= image_tag(@liked_users.third.avatar, class: "w-8 h-8 rounded-full border-2 border-white dark:border-gray-800") %>
              <% else %>
                <%= image_tag "no_avatar.png", class: "w-8 h-8 rounded-full border-2 border-white dark:border-gray-800" %>
              <% end %>
            <% end %>
            <p class="flex justify-center items-center w-8 h-8 text-xs font-medium text-white bg-gray-700 rounded-full border-2 border-white hover:bg-gray-600 dark:border-gray-800"><%= @liked_users.count %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="flex">
      <div class="flex items-center">
        <% if signed_in? %>
          <% if current_user == @post.user %>
            <span>
            <%= button_to "編集", edit_post_path(@post), method: :get, class: "inline-block px-6 py-2 border-2 border-blue-400 text-blue-400 font-bold text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out no-tap-highlighting" %>
            </span>
            <span class="inline-block px-6 py-2 ml-2 border-2 border-red-600 text-red-600 font-bold text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out no-tap-highlighting">
              <%= button_to "削除", @post, { method: :delete, form: { data: { turbo_confirm: "この投稿を削除しますか？" } } } %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="bg-white ml-1 break-all">
    <p class="tracking-wide leading-loose whitespace-pre-wrap font-medium text-sm md:text-base py-4 mx-4"><%= @post.content %></p>
  </div>
  <div class="grid grid-cols-1 gap-2 py-4 bg-white">
    <% ((@post.images.count) -1).times  do |i| %>
      <%= image_tag((@post.images[i+1].variant(resize_to_fill: [1200, 900], sampling_factor: "4:2:0", strip: true, interlace: "JPEG", colorspace: "sRGB", quality: 85).processed), class: "w-full object-center") %>
    <% end %>
  </div>
</section>
<section>
  <div class="grid grid-cols-1 justify-center bg-neutral-100 border-x-8 border-white px-3">
    <div class="w-full bg-white py-2 px-4 my-3">
      <h3 class="font-bold">コメント一覧</h3>
      <section>
        <div class="text-xs font-medium mt-5" id="comments">
          <% if @comments.present? %>
              <% @comments.each do |comment| %>  
                <% if comment.reply_comment_id.present? %>
                  <% next %>
                <% end %>
                  <div class="grid grid-cols-1" id="parent_comment_<%="#{comment.id}"%>">
                    <%= render partial: "comments/comment_block", locals: {comment: comment} %>
                  </div>
              <% end %>
          <% else %>
            <p class="text-base ml-1" id="no_comments">まだコメントがありません</p>
          <% end %>
        </div>
      </section>
      <section>
        <div class="grid grid-cols-1 justify-center mt-6">
          <% if user_signed_in? %>
            <%= render partial: "comments/new_comment" %>
          <% else %>
            <div class="flex justify-center bg-white">
              <%= button_to "コメントする", new_user_session_path, method: :get, class:"px-5 py-1 my-1 rounded-2xl tracking-widest font-semibold bg-white border-2 text-stone-600 hover:text-black border-lime-400 hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out no-tap-highlighting" %>
            </div>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</section>