<% provide(:title, '日記一覧') %>
<section>
  <% if user_signed_in? %>
    <div class='fixed bottom-3 right-6 z-30 lg:right-16 xl:right-24'>
      <%= button_to new_post_path, method: :get, class: 'overflow-hidden h-10 md:h-14 w-28 md:w-40 text-sm md:text-base font-semibold text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800' do %>
        <span class='relative inline-flex items-center px-1 py-1 md:px-5 md:py-3 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-lg group-hover:bg-opacity-0'>
          <span class='font-semibold'>日記を書く</span>
          <%= image_tag('lead-pencil.png', size:'25x25', class: 'ml-1') %>
        </span>
      <% end %>
    </div>
  <% end %>
  <div class='fixed bottom-16 right-6 z-30 lg:right-16 md:bottom-20 xl:right-24 w-14 h-14'>
    <%= button_to posts_path, method: :get,
    html: {
      autoscroll: true,
      data: {
        turbo_frame: 'posts-list',
        data: { autoscroll_block: 'start' }
    }} do %>
      <img src='https://img.icons8.com/office/80/000000/circled-chevron-up.png'/>
    <% end %>
  </div>
</section>
<section>
  <div class='grid itmes-cneter mt-2'>
    <%= search_form_for(
      @search,
        html: { 
          data: {
        controller: 'search-form',
        search_form_target: 'form',
        turbo_frame: 'posts-list'
          }
        }) do |f| %>
      <div class='mx-8 mb-12'>
        <div class='relative w-full' data-action='input->search-form#search'>
          <%= f.label :title_or_content_cont_all, '日記の検索' , class: 'text-sm text-slate-500 font-medium mt-2' %>
          <%= f.search_field :title_or_content_cont_all,
            autocomplete: 'off',
            placeholder: 'キーワードを入力してください。',
            class: 'relative block p-2 mb-1 w-full z-20 text-base text-slate-600 bg-gray-50 appearance-none rounded-lg border border-slate-300 focus:ring dark:bg-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500' %>
          <%= link_to 'クリア', posts_path, class:'absolute right-1 top-20 px-2 py-1 inline-flex items-center justify-center rounded-md bg-white border border-gray-400 no-tap-highlighting' %>
          <%= link_to 'タグ一覧', tags_posts_path, class:'absolute right-22 top-20 inline-flex items-center justify-center rounded-md tracking-wider px-2 py-1 bg-green-100 text-green-800 font-medium border border-green-400 rounded dark:bg-green-200 dark:text-green-900 hover:bg-green-300 no-tap-highlighting' %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section>
  <%= turbo_frame_tag 'posts-list', loading: :lazy, target: '_top' do %>
    <% if @posts.present? %>
      <div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-2 gap-y-3 mx-8 mt-8'>
        <% @posts.each do |post| %>
          <%= render partial: 'shared/post', locals: {post: post} %>
        <% end %>
      </div>
      <div class='flex justify-center mt-10'>
        <%= pagy_nav(@pagy).html_safe %>
      </div>
      <div class='flex justify-center mt-4 mb-10'>
        <%= pagy_info(@pagy).html_safe %>
      </div>
    <% else %>
      <div class='flex w-full flex-col justify-center items-center mb-48'>
        <span class ='relative'>
          <div class='h-36 w-36 bg-white rounded-full -ml-1.5 '></div>
          <%= image_tag 'ojigi_animal_usagi.png', class:' absolute top-6 left-4 z-10 w-24 h-28 p-4' %>
        </span>
        <p class='font-medium py-2'>検索結果が見つかりませんでした。</p>
      </div>
    <% end %>
  <% end %>
</section>

<a class='text-sm text-slate-300' target='_blank' href='https://icons8.com/icon/47096/上'>上 icon by Icons8</a>