<section>
  <% if user_signed_in? %>
    <div class="flex my-4 mr-6 justify-end">
      <button type="submit" onclick="location.href='http://192.168.3.18:3000/posts/new'" class="relative inline-flex items-center justify-center overflow-hidden h-9 w-30 text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
        <span class="relative flex items-center px-2 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-lg group-hover:bg-opacity-0">
          日記を書く
        <%= image_tag("lead-pencil.png", size:"25x25", class: "ml-1") %>
        </span>
      </button>
    </div>
  <% end %>
</section>
<section>
  <%= search_form_for(
    @search,
      html: { 
        data: {
      controller: "search-form",
      search_form_target: "form",
      turbo_frame: "posts-list"
        }
      }) do |f| %>
    <div class="mx-4 mb-4">
      <div class="relative w-full" data-action="input->search-form#search">
        <%= f.label :title_or_content_cont, "キーワード検索" %>
        <%= f.search_field :title_or_content_cont,
          autocomplete: "off",
          placeholder: "キーワードを入力してください。",
          class: "relative block p-2.5 w-full z-20 text-sm text-slate-600 bg-gray-50 appearance-none rounded-lg  border border-slate-300 focus:ring  dark:bg-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" %>
      </div>
      <%= link_to "クリア", posts_path %>
    </div>
  <% end %>
</section>

<section>
  <%= turbo_frame_tag "posts-list", target: "_top" do %>
    <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-x-1 gap-y-4 mx-4">
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
            <div class="relative h-3/5 md:h-1/2">
              <% if post.images.attached? %>
                <%= image_tag(post.images.first.variant(resize_to_fill: [800, 650], sampling_factor: "4:2:0", strip: true, interlace: "JPEG", colorspace: "sRGB", quality: 85).processed, alt: "サムネイル画像", class: "w-full h-full object-cover object-center") %>
              <% else %>
                <img class="w-full h-full object-cover object-center" src="https://dummyimage.com/720x400" alt="blog">
              <% end %>
            </div>
          <%= render post %>
        <% end %>
      </div>
      <div class="flex justify-center my-6">
        <%= pagy_nav(@pagy).html_safe %>
      </div>
    <% else %>
      <p>検索結果が見つかりませんでした。
    <% end %>
  <% end %>
</section>