<% provide(:title, "#日記一覧") %>
<section>
  <% if user_signed_in? %>
    <div class="fixed bottom-3 right-6 z-30">
      <%= button_to new_post_path, method: :get, class: "overflow-hidden h-10 w-28 text-sm font-semibold text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800" do %>
        <span class="relative inline-flex items-center px-1 py-1 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-lg group-hover:bg-opacity-0">
          <span class="font-semibold">日記を書く</span>
          <%= image_tag("lead-pencil.png", size:"25x25", class: "ml-1") %>
        </span>
      <% end %>
    </div>
  <% end %>
</section>
<section>
  <div class="grid itmes-cneter">
    <%= search_form_for(
      @search,
        html: { 
          data: {
        controller: "search-form",
        search_form_target: "form",
        turbo_frame: "posts-list"
          }
        }) do |f| %>
      <div class="mx-8 mb-12">
        <div class="relative w-full" data-action="input->search-form#search">
          <%= f.label :title_or_content_cont, "キーワード検索" %>
          <%= f.search_field :title_or_content_cont,
            autocomplete: "off",
            placeholder: "キーワードを入力してください。",
            class: "relative block p-2.5 w-full z-20 text-sm text-slate-600 bg-gray-50 appearance-none rounded-lg  border border-slate-300 focus:ring  dark:bg-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" %>
          <%= link_to "クリア", posts_path, class:"absolute right-0 top-18 px-1 inline-flex items-center justify-center rounded-md bg-gray-300" %> 
        </div>
      </div>
    <% end %>
  </div>
</section>

<section>
  <%= turbo_frame_tag "posts-list", target: "_top" do %>
    <% if @posts.present? %>
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-2 gap-y-3 mx-8">
        <% @posts.each do |post| %>
          <div class="border-2 border-gray-200 border-opacity-60 rounded-xl overflow-hidden no-tap-highlighting">
            <% if post.images.attached? %>
              <%= link_to image_tag(post.thumbnail, alt: "サムネイル画像"), post_path(post), class: "rounded-t-xl w-full object-center" %>
            <% else %>
              <%= image_tag'800x600_dummy.jpg', alt: "ダミー画像", class: "rounded-t-xl w-full object-center" %>
            <% end %>
            <div class="flex flex-col p-4 -mt-2 h-full">
              <p class="text-base font-bold text-black"><%= link_to truncate(post.title, length:18), post_path(post) %></p>
              <p class="tracking-tight leading-tight text-slate-600 md:text-sm"><%= truncate(post.content, length:36) %></p>
              <div class="flex w-full flex-row mt-5 justify-start relative">
                <span class="flex flex-row items-center">
                  <%if post.user.avatar.attached? %>
                    <% if post.user == current_user %>
                      <%= link_to image_tag(current_user.avatar, class: "w-8 h-8 rounded-full border-2 border-emerald-500"), profile_path(current_user) %>
                    <% else %>
                      <%= link_to image_tag(post.user.avatar, class: "w-8 h-8 rounded-full border-2 border-indigo-500"), user_page_path(post.user) %>
                    <% end %>
                  <% else %>
                    <%= image_tag "no_avatar.png", class: "w-8 h-8 object-cover rounded-full border-2 border-yellow-300" %>
                  <% end %>
                  <p class="text-sm font-medium mr-2 ml-2 hover:underline hover:underline-offset-2"><%= link_to truncate(post.user.name, length:17), profile_path(post.user) %></p>
                </span>
                <div class="flex items-center justify-items-end w-20 absolute top-6 right-1">
                  <span class="text-gray-400 inline-flex h-6 items-center leading-none text-sm pr-3">
                    <svg class="w-4 h-4 mr-1"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  
                      <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z" />
                    </svg>
                    <%= post.liked_users.count %>
                  </span>
                  <span class="text-gray-400 inline-flex items-center leading-none text-sm ml-1">
                    <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                      <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                    </svg>
                    <%= post.comments.count %>
                  </span>
                </div>
              </div>
              <p class="text-xs text-slate-500 ml-8"><%= how_long_ago(post) %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="flex justify-center mt-10 mb-6">
        <%= pagy_nav(@pagy).html_safe %>
      </div>
    <% else %>
      <div class="flex w-full flex-col justify-center items-center mb-48">
        <span class ="relative">
          <div class="h-36 w-36 bg-white rounded-full -ml-1.5 "></div>
          <%= image_tag 'ojigi_animal_kuma.png', class:' absolute top-6 left-4 z-10 w-24 h-28 p-4' %>
        </span>
        <p class="font-medium py-2">検索結果が見つかりませんでした。</p>
      </div>
    <% end %>
  <% end %>
</section>

