<% if user_signed_in? %>
  <%= button_to "投稿", new_post_path, {method: :get} %>
<% end %>

<% @posts.each do |post| %>
<%# 投稿者のプロフィールページへのリンクを作成する %>
  <span>投稿者：</span><%= post.user.name %><br>
  <span>タイトル：</span><%= link_to post.title, "posts/#{post.id}" %><br>
   <span>内容：</span><%= post.content %><br>
<% end %>

 <%== pagy_nav(@pagy) %>