<%= form_with( model: @post) do |f| %>

  <div class="field">
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content, "本文" %><br>
    <%= f.text_area :content %>
  </div>

  <div class="submit">
    <%= f.submit "送信"%>
  </div>

<% end %>