<h3>タイトル</h3>
<%= @post.title %><br>
<%= @post.user.name %><br>

<h3>本文</h3>
<%= @post.content %>

<% if @post.images.attached? %>
<div style="width: 700px;">
  <p><strong>Image:</strong></p>
  <% @post.images.each do |image| %>
    <%= link_to image_tag(image, size: '200×150'), url_for(image) %>
    <%# <%= image_tag image.variant(resize: "300×300") %>
  <% end %>
</div>
<% end %>
<% if user_signed_in? %>
  <% if current_user.id == @post.user_id %>
    <%= link_to '編集する', edit_post_path(@post) %> |
      <%= link_to "削除", @post, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
  <% end %>
<% end %>
<%= link_to '一覧に戻る', posts_path %>

<ul>
<li>ユーザー自身のみ投稿,編集,削除が可能</li>
<li>他のユーザーは閲覧のみ</li>
<li>ユーザーページにユーザの投稿一覧を加える。</li>
</ul>
