<% provide(:title, "#{@post.title}") %>

<div class="grid grid-cols-1 mx-auto max-w-screen-lg bg-white">
  <div class="grid grid-cols-1">
    <article>
      <%= render @post %>
    </article>
    <section>
      <div class="flex justify-between items-center px-6 py-1 border-b-2">
        <div class="flex items-center">
          <% if signed_in? %>
            <% if current_user.already_liked?(@post) %>
              <%= button_to post_like_path(@post), method: :delete, class: "flex justify-center items-center bg-white text-pink-600 ring-1 ring-gray-300 h-8 w-8 px-2 py-2 ml-1 mr-2 text-center rounded-full cursor-pointer no-tap-highlighting bg-red-200" do %>
                <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                </svg>
              <% end %>
            <% else %>
              <div class="flex justify-start items-center h-8">
                <%= button_to post_likes_path(post_id:@post.id), class: "flex justify-center items-center text-stone-300 bg-white ring-1 ring-gray-300 h-8 w-8 px-2 py-2 ml-1 mr-2 text-center rounded-full cursor-pointer no-tap-highlighting" do %>
                  <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                  </svg>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <%= button_to new_user_session_path, method: :get, class: "flex justify-center items-center transition-colors ease-in-out duration-200 text-stone-300 bg-white hover:bg-white hover:text-pink-600 ring-1 ring-gray-300 h-8 w-8 px-2 py-2 ml-1 mr-1 text-center rounded-full cursor-pointer no-tap-highlighting" do %>
              <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
              </svg>
            <% end %>
          <% end %>
          <% if @post.liked_users.present? %>
            <%= button_to liked_post_path(@post), method: :get, class: "overflow-hidden h-10 w-24 focus:outline-none" do %>
              <div class="flex -space-x-4 itmes-center mx-2">
                <% if @liked_users.first.avatar.present? %>
                  <%= image_tag(@liked_users.first.avatar, class: "w-8 h-8 rounded-full border-2 border-white dark:border-gray-800") %>
                <% else %>
                  <%= image_tag "no_avatar.png", class: "w-8 h-8 rounded-full border-2 border-white dark:border-gray-800" %>
                <% end %>
                <% if @liked_users.second.present? %>
                  <% if @liked_users.second.avatar.present? %>
                    <%= image_tag(@liked_users.second.avatar, class: "w-8 h-8 rounded-full border-2 border-white dark:border-gray-800") %>
                  <% else %>
                    <%= image_tag "no_avatar.png", class: "w-8 h-8 rounded-full border-2 border-white dark:border-gray-800" %>
                  <% end %>
                <% end %>
                <% if @liked_users.third.present? %>
                  <% if @liked_users.third.avatar.present? %>
                    <%= image_tag(@liked_users.third.avatar, class: "w-8 h-8 rounded-full border-2 border-white dark:border-gray-800") %>
                  <% else %>
                    <%= image_tag "no_avatar.png", class: "w-8 h-8 rounded-full border-2 border-white dark:border-gray-800" %>
                  <% end %>
                <% end %>
                <p class="flex justify-center items-center w-8 h-8 text-xs font-medium text-white bg-gray-700 rounded-full border-2 border-white hover:bg-gray-600 dark:border-gray-800"><%= @liked_users.count %></p>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="flex">
          <div class="flex items-center">
            <% if signed_in? %>
              <% if current_user == @post.user %>
                <span>
                <%= button_to "編集", edit_post_path(@post), method: :get, class: "inline-block px-6 py-2 border-2 border-blue-400 text-blue-400 font-bold text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out no-tap-highlighting" %>
                </span>
                <span class="inline-block px-6 py-2 ml-2 border-2 border-red-600 text-red-600 font-bold text-xs leading-tight uppercase rounded-full hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out no-tap-highlighting">
                  <%= button_to "削除", @post, { method: :delete, form: { data: { turbo_confirm: "この投稿を削除しますか？" } } } %>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="bg-white ml-1">
        <p class="tracking-wide leading-loose whitespace-pre-wrap font-medium text-sm md:text-base py-4 mx-2"><%= @post.content %></p>
      </div>
      <div class="grid grid-cols-1 gap-2 py-4 bg-white">
        <% ((@post.images.count) -1).times  do |i| %>
          <%= image_tag((@post.images[i+1].variant(resize_to_fill: [1200, 900], sampling_factor: "4:2:0", strip: true, interlace: "JPEG", colorspace: "sRGB", quality: 85).processed), class: "w-full object-center") %>
        <% end %>
      </div>
    </section>
    <section>
      <div class="grid grid-cols-1 justify-center bg-neutral-100 border-x-8 border-white px-3">
        <div class="w-full bg-white py-2 px-4 my-3">
          <h3 class="font-bold">コメント一覧</h3>
          <section>
            <% if @comments.present? %>
              <div class="text-xs font-medium mt-5">
                <% @comments.each do |comment| %>  
                  <% if comment.reply_comment_id.present? %>
                    <% next %>
                  <% end %>
                    <div class="grid grid-cols-1">
                      <div class="flex flex-col w-full pt-1 mb-1">
                        <%= render partial: "comment", locals: {comment: comment} %>
                        <div class="flex flex-col w-full">
                          <section>
                            <div class="mb-2 ml-11 py-0.5">
                              <div data-controller="reply" class="pb-3 border-b">
                                <% if user_signed_in? %> 
                                  <button data-reply-target="trigger" data-action="reply#display" class="underline ml-1 -mb-1 no-tap-highlighting">返信する</button>
                                  <%= form_with model: [@post, @comment], data: {reply_target: "content", action: "reply#hide"} do |f| %>
                                    <div data-reply-target="content" class="flex h-20 mt-1">
                                      <%= f.text_area :context, data: {controller: "autogrow" }, class: "text-sm bg-amber-100 rounded-md w-3/4 h-full pl-1 pt-1 pb-5 mt-6 focus:outline-none focus:ring-0", placeholder: "コメントに返信する..." %>
                                      <%= f.hidden_field :reply_comment_id, :value => comment.id  %>
                                      <%= f.submit "返信" ,class:"self-end tracking-widest rounded-2xl font-semibold bg-white border-2 px-4 py-1.5 ml-2 text-stone-600 hover:text-black border-lime-400 hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out no-tap-highlighting" %>
                                    </div>
                                  <% end %>
                                  <button data-reply-target="closed" data-action="reply#hide" class="underline ml-1 my-1 no-tap-highlighting">キャンセル</button>
                                <% else %>
                                  <%= link_to "返信する", new_user_session_path, class: "underline ml-1 -mb-1 no-tap-highlighting" %>
                                <% end %>
                              </div>
                            </div>
                          </section>
                          <section>
                            <% if comment.replies.present? %>
                              <% comment.replies.each do |reply| %>
                                <%= render partial: "reply", locals: {reply: reply} %>
                              <% end %>
                            <% end %>
                          </section>
                        </div>
                      </div>
                    </div>
                <% end %>
              </div>
            <% else %>
              <p class="text-base ml-1">まだコメントがありません</p>
            <% end %>
          </section>
          <section>
            <div class="grid grid-cols-1 justify-center mt-6">
              <% if user_signed_in? %>
                <%= form_with model: [@post, @comment] do |f| %>
                  <%= f.text_area :context, data: {controller: "autogrow" }, class: "block w-full rounded-xl bg-amber-100 pl-2 pt-1 pb-6" , placeholder: "コメントする..." %>
                  <div class="flex justify-center bg-white">
                    <%= f.submit "投稿", class:"px-5 py-1 mt-2 rounded-2xl tracking-widest font-semibold bg-white border-2 text-stone-600 hover:text-black border-lime-400 hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out no-tap-highlighting" %>
                  </div>
                <% end %>
              <% else %>
                <div class="flex justify-center bg-white">
                  <%= button_to "コメントする", new_user_session_path, method: :get, class:"px-5 py-1 my-1 rounded-2xl tracking-widest font-semibold bg-white border-2 text-stone-600 hover:text-black border-lime-400 hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out no-tap-highlighting" %>
                </div>
              <% end %>
            </div>
          </section>
        </div>
      </div>
    </section>
    <%= link_to posts_path, class: "inline-flex items-center h-6 w-22 px-1 py-4 ml-6 my-2 rounded-lg dark:text-white dark:bg-gray-600 border dark:hover:text-gray-900 focus:outline-none no-tap-highlighting" do %>
      <p class="text-xs font-semibold">一覧に戻る</p>
      <%= image_tag("Uターン矢印 1.png", class: "w-4 h-4 ml-0.5 -mt-0.5") %>
    <% end %>
  </div>
</div>