<div class="grid gap-1">
  <article>
    <div class="p-4">
      <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
        <% if @post.images.attached? %>
          <% @post.images.each do |image| %>
            <%= image_tag image, class: "w-full object-cover object-center" %>
          <% end %>
        <% else %>
          <img class="w-full object-cover object-center" src="https://dummyimage.com/720x400" alt="blog">
        <% end %>
        <%# <%= render @post %>
        <div class="pt-4 mx-4">
          <p class="text-xl font-medium text-black mb-2"><%= link_to @post.title, post_path(@post) %></p>
          <p class="leading-relaxed whitespace-pre-wrap mb-1 text-slate-600 ml-0.5"><%= @post.content %></p>
          <div class="flex place-items-end flex-row flex-wrap items-center">
          <%# ここにユーザーアイコンを設置する %>
            <p class="inline-flex items-center text-xs font-bold ml-1 mt-1"><%= link_to @post.user.name, mypage_path(@post.user) %></p>
            <span class="text-gray-400 mr-3 inline-flex items-center ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
              <svg class="w-4 h-4 mr-1"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  
                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z" />
              </svg>
              <%= @post.liked_users.count %>
            </span>
            <span class="text-gray-400 inline-flex items-center leading-none text-sm">
              <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
              </svg>
              <%= @post.comments.count %>
            </span>
          </div>
          <p class="text-xs ml-2 my-1 py-1"><%= how_long_ago(@post) %></p>
        </div>
        <% if signed_in? %>
          <% if current_user.already_liked?(@post) %>
            <%= button_to 'いいねを取り消す', post_like_path(@post), method: :delete %>
          <% else %>
            <%= button_to 'いいね', post_likes_path(@post) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <% if current_user == @post.user %>
        <%= link_to '編集する', edit_post_path(@post) %> 
        <%= link_to "削除", @post, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
      <% end %>
    <% end %>
  </article>

  <section>
    <% if user_signed_in? %>
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_area :context, placeholder: "コメントを入力..." %>
        <%= f.submit "SEND" %>
      <% end %>
    <% end %>
  </section>

  <section>
    <h3>コメント一覧</h3>
    <% if @comments.present? %>
      <% @comments.each do |c| %>  
        <% if c.reply_comment_id.present? %>
          <% next %>
        <% end %>
          <span id="comment_<%= c.id %>">
            <%= link_to mypage_path(c.user.id), class: "text-dark" do %> 
              <%if c.user.avatar.attached? %>
                <%= image_tag c.user.avatar, size: "200×200", class: "avatar" %>
              <% else %>
                <%= image_tag "no_avatar.png", size: "200×200", class: "avatar" %>
              <% end %>
              <strong><%= c.user.name %></strong>
            <% end %>
            <%= c.context %>
            <p><%= how_long_ago(c) %></p>
            <% if user_signed_in? && current_user == c.user %>
              <%= link_to "編集", edit_post_comment_path(@post, c) %>
              <%= link_to "削除", post_comment_path(@post, c), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
            <% end %>

            <div class="row mt-1">
              <div class="col-sm-8">
                <%= form_with model: [@post, @comment] do |f| %>
                  <%= f.text_field :context, class: "rounded-pill form-control", placeholder: "コメントへの返信を入力..." %>
                  <%= f.hidden_field :reply_comment_id, :value => c.id  %>
                  <%= f.submit "返信", class: "btn" %>
                <% end %>
              </div>
            </div>

            <% if c.replies.present? %>
              <div class="ml-5">
                <% c.replies.each do |reply| %>
                  <%if c.user.avatar.attached? %>
                    <%= image_tag c.user.avatar, size: "50×50", class: "avatar" %>
                  <% else %>
                    <%= image_tag "no_avatar.png", size: "200×200", class: "avatar" %>
                  <% end %>
                  <%= reply.user.name %>
                  <%= reply.context %>
                  <p><%= how_long_ago(reply) %></p>
                  <% if user_signed_in? && current_user == reply.user %>
                    <%= link_to "編集", edit_post_comment_path(@post, reply) %>
                    <%= link_to "削除", post_comment_path(@post, reply), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </span><br/>
      <% end %>
    <% else %>
      <p>まだコメントがありません</p>
    <% end %>
  </section>
  <%= link_to '一覧に戻る', posts_path, class:"no-tap-highlighting" %>
</div>
