<!DOCTYPE html>
<html>
  <head>
  <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:head) %>
  </head>
  <body data-controller="sidebar" class="font-body text-stone-700 bg-neutral-100">
    <header>
      <%= render "shared/navbar" %>
      <%= render "shared/sidebar" %>
    </header>
    <main>
      <div class="relative z-0 pt-24">
        <%= render "shared/flash" %>
        <%= yield %>
        <div data-sidebar-target="covering"></div>
      </div>
    </main>
    <footer>
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>