<!DOCTYPE html>
  <head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-248539068-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-248539068-1');
  </script>
  <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Karibitoは狩猟に関する日記、掲示板を投稿する狩猟のまとめサイトです。センシティブな画像は目に入らないように配慮しております。お気軽にご訪問ください。">
    <meta name="keywords" content="狩猟,掲示板,日記,ジビエ,動物">
    <meta name="google-site-verification" content="WCO57etiWOAWbVOVVSCVxV2Yst7qDswWuztXwfKr6R4" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body data-controller="sidebar" class="font-body text-stone-700 bg-neutral-100">
    <div class="grid grid-cols-1 mx-auto max-w-screen-lg">
      <div class="grid grid-cols-1 bg-white">
        <header>
          <%= render "shared/navbar" %>
          <%= render "shared/sidebar" %>
        </header>
        <main>
          <div data-action='click->sidebar#close' class="relative z-0 pt-15">
           <div id="flash">
             <%= render "shared/flash" %>
           </div>
            <%= yield %>
            <div data-sidebar-target="covering"></div>
          </div>
        </main>
        <footer>
          <%= render "shared/footer" %>
        </footer>
      </div>
    </div>
  </body>
</html>