<!DOCTYPE html>
<html>
  <head>
    <title>Karibito</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    </head>
    
    <body class="font-body text-stone-700 bg-neutral-100 ">
        <header>
            <nav class="text-2xl">
                <% if user_signed_in? %>
                <strong><%= link_to current_user.name, pages_show_path %></strong>
                <%= link_to 'プロフィール変更', edit_user_registration_path %>

                <%= button_to "ログアウト", destroy_user_session_path, { method: :delete, form: { data: { turbo_confirm: "ログアウトしますか？" } } } %>

            <% else %>
                <%= link_to '会員登録', new_user_registration_path %>
                <%= link_to 'ログイン', new_user_session_path %>
                <% end %>
            </nav>
        </header>
            <% if flash[:notice] %>
                <p class="px-6 py-4 bg-blue-50 rounded-lg text-blue-500"><%= notice %></p>
            <% end %>
            <% if flash[:alert] %>
                <p class="px-6 py-4 bg-blue-50 rounded-lg text-blue-500"><%= alert %></p>
            <% end %>
        <%= yield %>
    </body>
</html>
