  

  <% if @user.try(:unconfirmed_email?) %>
    <div>Karibitoのメールアドレス変更について</div>
    <br>
    <div><%= @user.name %>様</div>
    <br>
    <div>日頃よりKaribitoをご利用いただき、誠にありがとうございます。</div>
    <br>
    <div><%= @user.name %>様は現在、メールアドレス変更の手続き中です。</div>
    <br>
    <div>以下のリンクからユーザの認証を行ってメールアドレス変更手続きを完了してください。</div>
    <br>
    <div><%= link_to 'ユーザ認証を実行する', confirmation_url(@user,confirmation_token: @token) %></div>
    <br>
    <div>引き続きKaribitoをよろしくお願いいたします。</div>
  <% else %>
    <div>Karibitoの会員登録について</div>
    <br>
    <div><%= @user.name %>様</div>
    <br>
    <div>この度はご登録いただき、誠にありがとうございます。</div>
    <br>
    <% if @user.confirmed_at != nil %>
      <div><%= @user.name %>様の会員登録は正常に完了しました。</div>
      <br>
      <div>下記リンクからのログインをお願いいたします。</div>
      <br>
      <p>https://karibito.org/login</p>
    <% else %>
      <div><%= @user.name %>様は現在、仮登録が完了した状態です。</div>
      <br>
      <div>以下のリンクからユーザの認証を行ってユーザ登録を完了してください。</div>
      <br>
      <div><%= link_to 'ユーザ認証を実行する', confirmation_url(@user,confirmation_token: @token) %></div>
      <br>
      <div> このURLの有効期限は24時間です。</div>
    <% end %>
    <br>
    <div>引き続きKaribitoをよろしくお願いいたします。</div>
  <% end %>