<h1>ユーザー情報の変更</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <% f.label :name %><i>ユーザー名</i><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>メール認証を完了してください : <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :新しいパスワード %> 
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>~32桁の半角英数字)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワードの確認 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :現在のパスワード %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

 <%# <%= button_to "退会する", registration_path(resource_name), data: { confirm: "本当によろしいですか?" }, method: :delete %> 
 <%= button_to "退会する", registration_path(resource_name), { method: :delete, form: { data: { turbo_confirm: "本当によろしいですか？" } } } %>
 

<%= link_to "戻る", :back %>
