<% provide(:title, "プロフィール編集") %>

<h1>プロフィール編集</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

<%# 画像変更機能の追加 %>
  <div class="field">
    <%= f.label :avatar, "プロフィール画像" %><br>
    <%= f.file_field :avatar %><br>
  </div>

  <div class="field">
    <%= f.label :background, "背景画像" %><br>
    <%= f.file_field :background %><br>
  </div>


  <div class="field">
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>メール認証を完了してください : <%= resource.unconfirmed_email %></div>
  <% end %>


  <div class="field">
    <%= f.label :profile, "プロフィール文" %><br />
    <%= f.text_area :profile, autofocus: true %>
  </div>
  

  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>
<%= render "users/shared/links" %>


<%= link_to "戻る", :back %>

