
<section class="login">
  <div class="login_content">
    <div class="login_form">
      <div class="login_title"><h1>新規登録</h1></div>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %> 
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="field">
        <% f.label :name %><i>ユーザー名</i><br />
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <% f.label :email %><i>メールアドレス</i><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

      </div>
      <div class="field">
        <% f.label :password %><i>パスワード</i>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>~32桁の半角英数字)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <% f.label :password_confirmation %><i>パスワード(確認用)</i><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="submit_button">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
    </div>
  </div>
</section>
  

